*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
}
#navbar{
    width: 100%;
    height: 80px;
    background: black;
}
nav{
    display: none;
    background: black;          
}
.active{
    background: black;
    height: 100%;
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    animation-duration: 1s;
    animation-name: menu;
    z-index: 999;
}
nav ul li{
    padding-top: 10px;
}
nav ul li a{
    padding: 15px;
    display: block;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
}
nav ul li :hover{
    background-color: #a67607;
}
.fa-bars{
    position: absolute;
    right: 10px;
    padding: 20px;
    font-size: 40px;
    color: #a67607;
}
nav img{
    margin-top: 20px;
}
.title, .title-2{
    position: absolute;
    right: 10px;
    margin: 10px;
}
.title{
    width: 450px;
    background: rgba(255, 255, 255, 0.651);
    padding: 20px;
    top: 300px;
    
}
.title-2{
    width: 450px;
    background: rgba(0, 0, 0, 0.835);
    padding: 20px;
    top: 410px;
    color: white;
}
.title p{
    color: white;
}
.container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container img{
    position: relative;
    padding: 20px;
    width: 500px;
}
.txt{
    padding: 20px;
    width: 600px;
}
@keyframes menu{
    from{
      margin-left: -200px;
    }
    to{
        margin-left: 0px;
    }
}
header{
    height: 700px;
    background: url('../img/sport.jpg');
    background-size: cover;
}
section{
    background: #f1f1f1;
}
footer{
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.rape{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    background: white;
    position: relative;
    top: -100px;
}
.rape p{
    padding: 10px;
}
.corp{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
}
.txt h2{
    margin-bottom: 20px;
}
.txt button{
    width: 200px;
    height: 42px;
    border: 1px solid black;
    margin-top: 20px;
}
.txt button:hover{
    background: #a67607;
    color: white;
}
.fa-paw{
    font-size: 30px;
}
.anima{
    position: fixed;
    z-index: 5;
}
@media only screen and (max-width: 640px){
    nav img{
        display: none;
    }
 nav ul li a{
     font-size: 25px;
     padding-top: 35px;
 }
 nav img{
    padding-top: 80px;
 }
 #navbar {
     position: fixed;
     z-index: 5;
     }
 nav ul{
position: relative;
top: 70px;
 }
    .active{
position: fixed;
        width: 100%;
height: 700px;
        align-items: center;
top: 80px;
    }
    .title, .title-2{
        top: 210px;
        right: 10px;
        width: 200px;
    }
    .title-2{
        top: 400px;
    }
    .container{
        flex-direction: column;

    }
    .container img{
        padding: 0px;
    }
    .txt{
        width: 100%;
    }
    .rape{
        display: none;
    }
    .container img{
        width: 400px;
}
}